@charset "utf-8";
/* CSS Document */

*{
	padding:0;
	margin:0;
}
body{
	font-family: 微软雅黑;
}

.btn-group{
  width: 100%;
}

#body{
	margin-top: 10%;
	width:65%;
	margin: 0 auto;
	margin-top: 50px;
	border-bottom:2px solid #DDE1E4;
	font-family:微软雅黑; 
}
#body-one a{
	text-decoration: none;
	color: #333333;
}
#body-one a:hover{
  color:#DB0B18;
}
#body-two{
	width:70%;
	margin:0 auto;
	margin-top: 50px;
}
#body-two p{
	line-height: 25px;
}
#footer-warp{
	width: 100%;
	height:90px;
	background-color: #F3F2F2;
/* 	position: absolute; */
  	bottom: 0px;
	 padding-bottom: 0;
	margin-bottom: 0;
	 clear:both;
	 margin-top: 60px;
}
#footer-warp p{
  text-align: center;
	font-size: 12px;
	color:grey;
	font-family: 微软雅黑;
}
#footer-warp .footer{
	padding-top: 30px;
}
#footer-warp a{
	color:grey;
	text-decoration: none;
}
#footer-warp a:hover{
	color:red;
}
