@charset "utf-8";
/* CSS Document */
*{
	padding:0;
	margin:0;
}
body{
	font-family: 微软雅黑;
}

.btn-group{
  width: 100%;
}#body-one{
	width: 90%;
	margin: 0 auto;
	margin-top: 10px;
	border-bottom:2px solid #DDE1E4;
	font-family:微软雅黑; 
	
}
#body-one a{
	text-decoration: none;
	color: #333333;
}
#body-one a:hover{
  color:#DB0B18;
}
#body-three{
	width:50%;
	margin: 0 auto;
	margin-top: 60px;
	border: 3px solid #DB0B18;
	background-color: #F3F2F2;
	border-radius: 20px;
}
#body-three li{
	list-style: none;
	text-align: center;
	line-height: 29px;
}
#body-three p{
	text-align: center;
	font-size:20px;
	color:#FB8933;
}
#body-three li span{
	 display: inline-block;
	
}
#body-three li span:first-child{
	text-align:right;
	width:49%; 
  font-size: 18px;
	
}
#body-three li span:last-child{
	text-align: left;
	 width:50%; 
	margin-left: 1%;
	font-size: 17px;
}
#footer-warp{
	width: 100%;
	height:90px;
	background-color: #F3F2F2;
/*  	position: absolute;  */
  	bottom: 0px;
	 padding-bottom: 0;
	 clear:both;
	margin-top: 50px;
}
#footer-warp p{
  text-align: center;
	font-size: 12px;
	color:grey;
	font-family: 微软雅黑;
}
#footer-warp .footer{
	padding-top: 30px;
}
#footer-warp a{
	color:grey;
	text-decoration: none;
}
#footer-warp a:hover{
	color:red;
}

