@charset "utf-8";
/* CSS Document */
*{
	padding:0;
	margin:0;
}
body{
	font-family: 微软雅黑;
}

.btn-group{
  width: 100%;
}
#body-one{
	width: 70%;
	margin: 0 auto;
	margin-top: 10px;
	border-bottom:2px solid #DDE1E4;
	font-family:微软雅黑; 
}
#body-one a{
	text-decoration: none;
	color: #333333;
}
#body-one a:hover{
  color:#DB0B18;
}
#body-two{
	width:35%;
	margin-top: 30px;
	margin-left: 15.0%;
}
#body-two button{
	display: inline;
	float: right;
	margin-top:-34px;
	
}
#body-two input{
	width:85%;
}
#body-three{
	width:70%;
	margin: 0 auto;
	margin-top: 18px;
}
#body-three td{
	text-align: center;
}
#body-three th{
	text-align: center;
}
#body-three a{
	text-decoration: none;
}
#body-three a:hover{
	color:#DB0B18;
}
.container{
	width:60%;
	margin: 0 auto;
	margin-top: 30px;
}
.container p{
	text-align: center;
}
.container nav{
	text-align: center;
}
#footer-warp{
	width: 100%;
	height:90px;
	background-color: #F3F2F2;
/*  	position: absolute;  */
  	bottom: 0px;
	 padding-bottom: 0;
	 clear:both;
	margin-top: 50px;
}
#footer-warp p{
  text-align: center;
	font-size: 12px;
	color:grey;
	font-family: 微软雅黑;
}
#footer-warp .footer{
	padding-top: 30px;
}
#footer-warp a{
	color:grey;
	text-decoration: none;
}
#footer-warp a:hover{
	color:red;
}

