@charset "utf-8";
  .content{
   border:2px solid #33333D;
   margin:0 auto;
   width:80%;
   margin-top:8%;
   padding-left:5%;
   padding-bottom:2%;
   font-size:1.0em;
  }
  .content td{
  }
  .content input{
    margin-top:10px;
    margin-right:50px;
  }
