@charset "utf-8";
/* CSS Document */
*{
	padding:0;
	margin:0;
}
body{
	font-family: 微软雅黑;
}

#body{
	width:65%;
	margin: 0 auto;
	margin-top: 50px;
	border-bottom:2px solid #DDE1E4;
	font-family:微软雅黑; 
}
#body-one a{
	color:black;
	text-decoration: none;
}
#body-one a:hover{
	color:#DB0B18;
}
#body-two{
	width:70%;
	margin:0 auto;
	margin-top: 50px;
}
#body-two p{
	line-height: 25px;
}
#footer-warp{
	width: 100%;
	height:90px;
	background-color: #F3F2F2;

/* 	position: absolute; */
>>>>>>> acd3860b84d07f4a87babdba6706c7c148182078
  	bottom: 0px;
	 padding-bottom: 0;
	margin-bottom: 0;
	 clear:both;
	 margin-top: 50px;
}
#footer-warp p{
  text-align: center;
	font-size: 12px;
	color:grey;
	font-family: 微软雅黑;
}
#footer-warp .footer{
	padding-top: 30px;
}
#footer-warp a{
	color:grey;
	text-decoration: none;
}
#footer-warp a:hover{
	color:red;
}
