@charset "utf-8";
/* CSS Document */
/* *{
	padding:0;
	margin:0;
}
body{
	font-family: 微软雅黑;
}
#header{
	margin-top: 16px;
}
#header{
	border-bottom:2px solid #DB0B18;
	height:120px;
}
#header div{
	float: left;
}
#header .header-left{
	width:7%;
	margin-left: 12%;
}
#header .header-left img{
	width:85%;
}
#header .header-center{
	color:#E91F2F;
	padding-top: 20px;
}
#header .header-center .top{
	font-size: 16px;
	font-weight: 100;
	font-family: 微软雅黑;
}
#header .header-center .bottom{
	font-size: 33px;
	text-shadow:1px 1px 2px grey;
	font-family: 微软雅黑;
	font-weight: 900;
	margin-top:-10px;
}
#header .header-center{
	width:30%;
}
#header .header-right{
	width:28%;
	margin-left:10%;
	margin-top: 18px;
}
.header-right div{
	border: 2px solid #DB0B18;
	width: 85%;
	margin-top: 5%;
	margin-left:6%;
	border-radius: 6px;
}
.header-right div select{
  border:none;
	width:25%;
	height:40px;
	appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;
  background:url(/PartyMemberInfoManage/images/xiala.png) no-repeat right;
	font-family: 微软雅黑;
}
.header-right div button{
	background-color: #DB0B18;
	float:right;
	height:41px;
	font-family: 微软雅黑;
}
.header-right div select option{
	background-color: none;
	color: black;
	border: none;
	font-family: 微软雅黑;
}

.header-right div select option a:hover{
	background-color: #FFFFFF;
}
.header-right input{
	margin-top: 10px;
	border: none;
	font-family: 微软雅黑;
	width:50%;
	outline:none;
} */

#banner{
	height:325px;
	width:100%;
	margin-top: 10px;
}
#banner .col-lg-12{
	margin-right:0px;
	margin-left:0;
  padding-left:0;
	padding-right:0;
}
#banner .col-lg-12 img{
	height:325px;
}
/* .nav .row{
	width:100%;
}
.nav .row .navbar-nav{
	margin-left:-10%;
}
.nav .row li{
	font-size: 16px;
	font-weight: 550;
	font-family: 微软雅黑;
}
.nav .row li a{
	color:black;
}
.nav .row li a:hover{
color:red;
}
.nav .row li{
	padding-left:29px;
}
.nav .dropdown-menu li{
  min-width: inherit;
	padding:0px;
}
.nav .dropdown-menu{
  min-width: inherit;
	margin-left:29px;
} */
/*  .btn-group{
  width: 100%;
}  */

#banner-one{
	height:40px;
	background-color: #F5F5F5;
	font-family: 微软雅黑;
}
#banner-one .row{
	width:100%;
	margin-right:0px;
	margin-left:0;
  padding-left:0;
	padding-right:0;
}
#banner-one img{
	width:30px;
}
#banner-one .row .col-lg-9{
	padding-top: 6px;
	padding-left: 1.5%;
}
#banner-one .row a{
	color:black;
	text-decoration: none;
}
#banner-one .row a:hover{
	color:#DB0B18;
}
#paper-warp{
	width:90%;
	margin: 0 auto;
	padding-left: 5%;
	margin-top: 20px;
	font-family: 微软雅黑;
}
.paper-img{
	 position: absolute;
   margin-left: -83px;
	 color:white;
	 margin-top: 3px;
}
#paper-warp div{
	float:left;
}
#paper-warp .paper-one{
	width:47%;
}
#paper-warp .paper-one ol{
	list-style: none;
}
#paper-warp li a{
	color:black;
}
#paper-warp li a:hover{
	color:#DB0B18;
}
#paper-warp li{
	line-height: 30px;
}
#paper-warp .paper-one li span{
	display: inline-block;

}
#paper-warp .paper-one {
	margin-left:-4%;
}
#paper-warp .paper-one li span:first-child{
	width:70%;
   text-align: left;
   /* overflow:hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
	 display: inline-block;  */
	
}
#paper-warp .paper-one li span:last-child{
	 width:30%;
	text-align: right;
	 display: inline-block;
}
#paper-warp .paper-two ol{
	list-style: none;
}
#paper-warp .paper-two li span{
	display: inline-block;
	
}
#paper-warp .paper-two li span:first-child{
	width:70%;
   text-align: left;

  /*  overflow:hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
	 display: inline-block; */
}
#paper-warp .paper-two li span:last-child{
	 width:30%;
	text-align: right;
	 display: inline-block;
}
#paper-warp .paper-two{
	width:47%;
	margin-left: 6%;
}
/*视频列表区开始*/
.picScroll-left{
	width: 94%;
	height:300px;
	overflow: hidden;
	position: relative;
	margin: 0 auto;
	margin-left: 2%;
	margin-right: auto;
	margin-top: 20px;
	background-color: #ffffff;
	font-family: 微软雅黑;
}
.picScroll-left .hd .prev p{display:block;  float:left; margin-top:90px; 
  cursor:pointer;
	width:30px;
	height: 55px;
	font-size: 50px;
	text-shadow: 2px 2px 4px grey;
	color: brown;	
}
.picScroll-left .hd .next p{ display:block;  float:right; margin-top:-157px;  
			 cursor:pointer;
  	width:30px;
	height: 55px;
	font-size: 50px;
	text-shadow: 2px 2px 4px grey;
	color: brown;
}	 
.picScroll-left .bd{ 
	padding-top:10px;
	margin: 0 auto;
}
.picScroll-left .bd ul{ overflow:hidden;padding-top:20px;}
.picScroll-left .bd ul li{float:left;display:; overflow:hidden; text-align:center; border: 1px solid #E0E2E3; margin-left:3px;}
.picScroll-left .bd ul li .pic{text-align:center;}
.picScroll-left .bd ul li .pic img{ 
	display:block;
	margin: 0 auto;
}
.picScroll-left .bd ul li .title{ line-height:50px;}
#video-warp a{
	text-decoration:none; color:#333;
}
#video-warp img{
	border: 0;
	height:186px;
	width: 100%;
}
#video-warp .second{
	margin-top: -10px;
}
#video-warp span{
  margin-left: 5.5%;
	font-size: 20px;
	font-weight:500;
	font-family: "微软雅黑";
}
/*视频列表区结束*/
#footer-warp{
	width: 100%;
	height:90px;
	background-color: #F3F2F2;
}
#footer-warp p{
  text-align: center;
	font-size: 12px;
	color:grey;
	font-family: 微软雅黑;
}
#footer-warp .footer{
	padding-top: 30px;
}
#footer-warp a{
	color:grey;
	text-decoration: none;
}
#footer-warp a:hover{
	color:red;
}