@charset "utf-8";
/* CSS Document */
 *{
	padding:0;
	margin:0;
}
body{
	font-family: 微软雅黑;
}
/*#header{
	margin-top: 16px;
}
#header{
	border-bottom:2px solid #DB0B18;
	height:120px;
}
#header div{
	float: left;
}
#header .header-left{
	width:7%;
	margin-left: 12%;
}
#header .header-left img{
	width:85%;
}
#header .header-center{
	color:#E91F2F;
	padding-top: 20px;
}
#header .header-center .top{
	font-size: 16px;
	font-weight: 100;
	font-family: 微软雅黑;
}
#header .header-center .bottom{
	font-size: 33px;
	text-shadow:1px 1px 2px grey;
	font-family: 微软雅黑;
	font-weight: 900;
	margin-top:-10px;
}
#header .header-center{
	width:30%;
}
#header .header-right{
	width:28%;
	margin-left:10%;
	margin-top: 18px;
}
.header-right div{
	border: 2px solid #DB0B18;
	width: 85%;
	margin-top: 5%;
	margin-left:6%;
	border-radius: 6px;
}
.header-right div select{
  border:none;
	width:25%;
	height:40px;
	appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;
  background:url(../../images/xiala.png) no-repeat right;
	font-family: 微软雅黑;
}
.header-right div button{
	background-color: #DB0B18;
	float:right;
	height:41px;
	font-family: 微软雅黑;
}
.header-right div select option{
	background-color: none;
	color: black;
	border: none;
	font-family: 微软雅黑;
}

.header-right div select option a:hover{
	background-color: #FFFFFF;
}
.header-right input{
	margin-top: 10px;
	border: none;
	font-family: 微软雅黑;
	width:50%;
	outline:none;
}
.nav{
	background-color: #DB0B18;
}

.nav .row{
	width:100%;
}
.nav .row  .navbar-nav{
	margin-left:-10%;
}
.nav .row li{
	font-size: 16px;
	font-weight: 550;
	font-family: 微软雅黑;
}
.nav .row li a{
	color:black;
}
.nav .row li a:hover{
  color:white;
	background-color:#DB0B18!important;
}
.nav .row li{
	padding-left:29px;
}
.nav .dropdown-menu li{
  min-width: inherit;
	padding:0px;
}
.nav .dropdown-menu{
  min-width: inherit;
	margin-left:29px;
}
.btn-group{
  width: 100%;
} */
#body-one{
	width: 90%;
	margin: 0 auto;
	margin-top: 10px;
	border-bottom:2px solid #DDE1E4;
	font-family:微软雅黑; 
}
#body-one a{
	color:black;
	text-decoration: none;
}
#body-one a:hover{
	color:#DB0B18;
}
.up{
	position: fixed;
	top:250px;
	right:20px;
	width:140px;
	height: 80px;
	background-color:#dbdbdb;
	border: 1px #DB0B18 solid;
	border-radius: 10px;
}
.up h5{

	margin-left: 30px;
	margin-top: 15px;
}
.timer{
	margin-left: 5px;
	font-size: 16px;
	color: #DB0B18;
}
#body-two1{
	width:60%;
  	margin: 0 auto;
	margin-top: 100px;
	height: 300px;
}
#body-two1 p{
	text-align: center;
	color:#DB0B18;
	font-size:30px;
}
#body-two{
	width:100%;
	margin-top: 20px;
}
#body-two p{
	text-align: center;
	font-size: 25px;
}
#body-three{
	width:70%;
	margin: 0 auto;
	margin-top: 20px;
}
#body-three p{
	color:grey;
	border-bottom: 1px dotted #DDE1E4;
	padding-bottom: 15px;
}
#body-four{
	width:70%;
	margin: 0 auto;
	margin-top: 40px;
}
#body-four p{
	color: #6A6A6A;
}
#body-five{
	width:70%;
	margin: 0 auto;
	margin-top:20px;
	border-bottom: 1px solid #EFEFEF;
	padding-bottom: 20px;
}
#body-five .radio{
	width:97%;
	margin: 0 auto;
	padding-top: 10px;
	color: #717171;
}
#body-five span{
	color:red;
}
.submit input{
	margin-left:50%;
	margin-top:20px;
}
.submit h4{
	margin-left:50%;
	color:red;
}
#footer-warp{
	width: 100%;
	height:90px;
	background-color: #F3F2F2;
	/* position: absolute;  */
  	bottom: 0px;
	 padding-bottom: 0;
	 clear:both;
	margin-top: 50px;
}
#footer-warp p{
  text-align: center;
	font-size: 12px;
	color:grey;
	font-family: 微软雅黑;
}
#footer-warp .footer{
	padding-top: 30px;
}
#footer-warp a{
	color:grey;
	text-decoration: none;
}
#footer-warp a:hover{
	color:red;
}