@charset "utf-8";
/* CSS Document */
*{
	padding:0;
	margin:0;
}
body{
	font-family: 微软雅黑;
}

#body-one{
	width: 70%;
	margin: 0 auto;
	margin-top: 10px;
	border-bottom:2px solid #DDE1E4;
	font-family:微软雅黑; 
}
#body-one a{
	color:black;
	text-decoration: none;
}
#body-one a:hover{
	color:#DB0B18;
}
#NotMsg {
	height: 200px;
}
#NotMsg h4{
	text-align: center;
	color:#DB0B18;
	padding-top: 100px;
}
#body-big{
	width:63%;
	margin: 0 auto;
	margin-top: 30px;
	border: 4px solid #DDE1E4;
	padding-bottom: 20px;
}
#body-two{
	width: 100%;
	background-color:#DDE1E4;
	height:25px;
}
#body-three{
	margin-top: 10px;
	width: 98%;
	margin: 0 auto;
}
#body-three p{
	color:#FB8831;
}
#body-four{
	width:96%;
	margin: 0 auto;
}
#body-five{
	margin-top: 10px;
	width: 98%;
	margin: 0 auto;
}
#body-five p{
	color:#FB8831;
}
#body-six{
	width: 96%;
	margin: 0 auto;
}
#body-seven{
	margin-top: 10px;
	width: 98%;
	margin: 0 auto;
}
#body-seven p{
	color:#FB8831;
}
#body-eight{
	width:96%;
	margin: 0 auto;
}
#body-nine{
	width: 96%;
	margin: 0 auto;
	margin-top: 20px;
}
#body-nine img{
	width:2%;
}
#body-nine .three{
	width:97%;
	margin:0 auto;
	margin-top: 5px;
}
#body-nine .four{
	width:97%;
	margin:0 auto;
	margin-top: 5px;
	color:#0066FF;
}
#body-nine .five{
	width:97%;
	margin:0 auto;
	margin-top: 5px;
	color:#0066FF;
}
#body-nine .five span{
	color:#FB8933;
}
#body-nine .six{
  width:97%;
	margin: 0 auto;
	margin-top: 5px;
}
#body-nine .four-two {
	color:#FB8933;
	width:97%;
	margin:0 auto;
	margin-top: 5px;
}
#body-ten {
	width: 96%;
	margin: 0 auto;
	margin-top: 20px;
}
#body-ten .five{
	width:97%;
	margin: 0 auto;
	margin-top: 5px;
}
#body-ten .six{
	width:97%;
	margin: 0 auto;
	margin-top: 5px;
}
#body-ten img{
	width:2%;
	color:#0066FF;
}
#body-ten .five span{
	color:#FB8831;
}
#footer-warp{
	width: 100%;
	height:90px;
	background-color: #F3F2F2;
/* 	position: absolute; */
  	bottom: 0px;
	 padding-bottom: 0;
	 clear:both;
	margin-top: 40px;
}
#footer-warp p{
  text-align: center;
	font-size: 12px;
	color:grey;
	font-family: 微软雅黑;
}
#footer-warp .footer{
	padding-top: 30px;
}
#footer-warp a{
	color:grey;
	text-decoration: none;
}
#footer-warp a:hover{
	color:red;
}

