@charset "utf-8";
/* CSS Document */
*{
	padding:0;
	margin:0;
}
.container{
	width:100%;
  height:720px;
}
.container{
	background-image:url(../images/enter.jpg);
  display:block;
  bottom:0px;
}
.container img{
	width:90%;
	position: absolute;
	padding-top:30px;
}
.container p {
	width:90%;
	color:#FEFCAC;
	font-family:黑体;
	font-size:2.5em;
	padding-top:50px;
}
.body{
	width:70%;
	margin:0 auto;
	height:180px;
	margin-top: -570px;
	background-color: #E90B06;
}
.body .header-one{
	width:25%;
}
.body .header-two{
	width:11%;
}
.body .header-three{
	width:64%;
}
.body div{
	float:left;
}
.body .header-one img{
	padding-top: 8px;
	width:33%;
}
.body .header-two img{
	padding-top:40px;
	width:80%;
}
.body .header-three p{
	color:white;
}
.body .header-three .one{
	font-size:32px;
	padding-top: 50px;
	text-shadow: 4px 4px  6px grey ;
}
.body .header-three .two{
	font-size:15px;
	padding-left: 19%;
}
.navbar-top{
	width:70%;
	margin: 0 auto;
	margin-top: 1px;
}
.navbar-top .row li{
	font-size: 16px;
}
.navbar-top .row #names{
	width:50%;
	height:19px;
	}
.navbar-top .row li a:hover{
	background-color:#E90B06;
	color:white;
}
.nav .row{
	width:100%;
	margin: 0 auto;
	background-color: #EEF6FD;
	border-radius: 10px;
}
.row span a{
	text-decoration: none;
}
.row span a:hover{
	color:red;
}
.row .col-lg-3{
	height:50px;
}
.row .dropdown-menu{
	width:80%!important;
}
.row .dropdown-menu li{
	
	font-size:12px;
}
/* .row .col-lg-3 .one{
	margin-left:85%;
} */
.row .col-lg-3 .two{
  margin-left:30%;
}
.row .col-lg-3 span a{
	padding-top: 2px;
	float:left;
	position: absolute;
}
.body-one{
	width:70%;
	margin: 0 auto;
	height:325px;
}
#slidershow{
	width:100%;
	margin-left: -15px;
}
#slidershow img{
	height:325px;
	width:100%;
}
.carousel-caption a{
  color:white;
	font-size: 15px;
	text-decoration: none;
}
.carousel-caption a:hover{
	color:red;
}
.body-one .col-lg-6 p{
	font-size:22px;
	color:red;
	text-shadow: 4px 4px  6px grey ;
	padding-top: 20px;
}
.body-one .col-lg-6 li a{
	color:black;
}
.body-one .col-lg-6{
	border:solid 3px #E90B06;
	width:58.3%;
	height:325px;
}
.body-one .col-lg-6 li a:hover{
	color:red;
}
h5{
	color:red;
	text-shadow: 4px 4px  6px grey ;
}
.body-one .col-lg-6 .col-lg-7 li{
	font-size:13.5px;
}
.body-one .col-lg-6 .col-lg-5 li{
	font-size:13.5px;
}
.body-three{
	width:70%;
	margin:0 auto;
	margin-top: 20px;
}
.body-three .row{
	width:100%;
}
.body-three .row img{
	width:70%;
	height:110px;
}
.body-four{
	width:70%;
	margin:0 auto;
	margin-top: 20px;
}
.body-four .row{
	width:100%;
}
.body-four .row img{
	width:70%;
	height:110px;
}
.body-five {
	width:70%;
	margin:0 auto;
	margin-bottom:15px;
	
}
.body-five img{
	width:100%;
}
.text{
	margin-top:20px;
}
.text a{
text-decoration:none;
}
.text a:hover{
	color:#E90B06;
}
.footer{
	width:70%;
	margin: 0 auto;
	margin-top: 15px;
}
.footer img{
	width:100%;
}
.footer-one{
	text-align: center;
	margin-top: 10px;
}
.footer-one p{
	font-size:12px;
	color:grey;
}