@charset "utf-8";
/* CSS Document */
*{
padding:0;
margin:0;
}
.container{
  width:100%;
}
.table-responsive{
  width:70%;
  margin: 0 auto;
  margin-top: 30px;
}
.table-responsive a{
	text-decoration: none;
}
.row .col-lg-11{
	margin-left:4%;
	margin-top: -30px;
}
.table th{
	font-size:12px;
}
.table td{
	font-size:12px;
}
.row  .xixnxi{
	margin-left:4%;
	margin-top:5%;
}
.pagination{
	margin-left:-3%;
}