#t1.toup{
    width:100%;
    height:100%;
    overflow:hidden;
    position:relative;}
.logo{
    width:1.47rem;
    height:1.58rem;
    margin:0.35rem auto 0 auto;}
.swipers{
	margin:0.2rem 0.5rem 0 0.5rem;
	}
.swiper-container {
		width:100%;
		height:100%;
        margin-left: auto;
        margin-right: auto;
    }
.swiper-slide {
		border:3px solid #fff;
		border-radius:10px;
		padding:0.35rem 0.2rem 0.6rem 0.2rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
		 -webkit-box-shadow: 0px 0px 10px #9bb5c4 inset;
		-moz-box-shadow: 0px 0px 10px #9bb5c4 inset ;
		box-shadow: 0px 0px 10px #9bb5c4 inset;
		box-sizing:border-box;
		overflow:hidden;
    }

.scores{
	width:100%;
/*     height:6.28rem; */
    /*! float: left; */}
.scores h3{
	font-size:0.43rem;
	font-weight:bold;
	line-height:0.61rem;
	word-wrap:break-word;
	display:block;
	text-align:justify;
	margin-bottom:0.2rem;
	}
.scores h4{
   font-size:0.1rem;
   line-height:0.48rem;
   word-wrap:break-word;
   display:block;
   text-align:justify;
   }
.scores .f{
	margin:0.2rem 0 0.4rem 0;
	font-size:0.25rem;
	width:100%;
	}
.scores .f span{
/*     display:inline-block; */
    height:0.75rem;
    width:0.75rem;
    line-height:0.75rem;
    font-size:0.42rem;
    color:#fff;
    background:#4e3821;
    text-align:center;
    border-radius:100%;
    margin-right:0.15rem;
    }
.choose{
	width:100%;
	}
.choose .input{
	margin-bottom:0.25rem;
	position:relative;
	}
.choose input[type="radio"]{
	position:absolute;
	left:0;top:0.04rem;
	vertical-align:middle;
	}
.choose label{
	font-size:0.40rem;
	display: block;
	line-height:0.45rem;
	}
/* 表头 */
.swipers .jion{
/*     height:0.88rem; */
    width:100%;box-sizing:border-box;
    /*! line-height:0.88rem; */
    /*! text-align:center; */
    border-radius:0.1rem;
    border:1px solid #cdd4d8;
    display:block;
    font-size:0.43rem;
    color:#637d96;
    margin:0.rem 0 0.1rem 0;
    background:#f2f4f3;}
.jion h2{
    margin-left: 0.3rem;
    color:#0066FF;
}
.jion p{
    margin-left: 0.6rem;
    font-size: 0.32rem;
    margin:0.1rem 0.6rem 0.1rem ;
}
.jion table{
    margin:0.15rem 0.6rem 0.15rem ;
    font-size: 0.32rem;
    width:85%;
}
.jion th{
    padding:0.15rem 0;
}

/* 试题部分 */
.choose{
   margin-left: 0.46em; 
}
.answenr .true{
     color:#0066FF;
/*     border:2px solid red; */
}
.answenr .false{
  color:#FF6E70;  
}
.scores h2{
     font-size:0.45rem;
     margin:-0.3rem 0 0.03rem 0;
     color:#0066FF;
}
.scores p{
     font-size:0.3rem;
     line-height: 0.42rem;
}
.scores .title{
    color:#637d96;
    font-size:0.32rem;
}
.explain{
   color:#0066FF;
}
/*解析图片*/
.answenr img{
  /*  border: 1px solid;*/
    margin-bottom: -0.08rem;
    with:36px;
    height:36px;
}














